*{
    padding:0;
    margin:0;
}
#box1,#box2{
    display:inline-block;
    width:60px;
    height:20px;
    vertical-align:bottom;
    background:red;
}
input{
    width:100px;
    height:20px;
    text-indent:10px;
}
button{
    height:22px;
}
span{
    vertical-align:bottom;
    background:#eee;
}